<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Détails</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1>Etudiant</h1>
    <a th:href="@{/etudiants}">Retour liste étudiants</a>

    <table class="table">
        <tr>
            <th>ID</th>
            <td th:text="${etudiant.id}"></td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td th:text="${etudiant.prenom}"></td>
        </tr>
        <tr>
            <th>Nom</th>
            <td th:text="${etudiant.nom}"></td>
        </tr>
        <tr>
            <th>Promotion</th>
            <td th:text="${etudiant.promotion.nom}"></td>
        </tr>
    </table>
</div>

<script src="/bootstrap.min.js"></script>
</body>
</html>
